/* Reset some basic elements */
body, h1, p, input, select, button, label {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("hacking.webp") ;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.container {
    background-color: #fff;
    padding: 30px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 31px;
}

.description {
    width: 822px;
    font-size: 17px;
    margin-bottom: 20px;
    color: #666;
    text-align: left;
    line-height: 1.6;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

input[type="password"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

#algorithm {
    width: 822px;
}

input[type="password"]:focus, input[type="text"]:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

label {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px 0;
    width: 48%;
}

.button-group {
    width: 822px;
    display: flex;
    justify-content: space-between;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #28a745;
}

#details {
    text-align: left;
    margin-top: 20px;
    font-size: x-large;
}

#details p {
    margin: 5px 0;
    color: #333;
}
